<section class="hero is-link">
  <div class="hero-body">
    <p class="title">
      Momentous
    </p>
    <p class="subtitle">
      EVENTS
    </p>
  </div>
</section>

<section class="columns is-multiline has-background-link">

  {{#each events as |event| }}

  <div class="card column mx-3 block is-4">
    <div class="card-content">
      <div class="media">

        <div class="media-content">
          <p>
            <a href="/event/{{event.unique_id}}" class="title is-4">{{event.title}}</a>
          </p>
          <p class="subtitle is-6">
            Hosted by {{user.name}}
          </p>
        </div>
      </div>

      <div class="content">
        {{event.description}}
      </div>
    </div>
  </div>

  {{/each}}

</section>