<!-- Form goes here...? -->
<form id="login-form">
    <input type="text" name="email" id="email-field" class="login-form-field" placeholder="email">
    <input type="password" name="password" id="password-field" class="login-form-field" placeholder="password">
    <input type="submit" value="login" id="login-form-submit">
</form>