{{#if loggedIn}}
<ul>
    {{#each events as |event|}}
    <li>
        <h3><a href="/event/{{event.id}}">{{event.name}}</a></h3>
        <p>{{event.description}}</p>
    </li>
    {{/each}}
</ul>
{{else}}
<a href="/login">Please log in.</a>
{{/if}}