<form id='newevent-form'>
    <input type='text' id='title-newevent'>
    <textarea id='description-newevent'></textarea>
    <button id='submit'>submit</button>
</form>

<script src='/js/newevent.js'