<form id="signup-form">
    <input type="text" name="name" id="name-signup" class="signup-form-field" placeholder="name">
    <input type="text" name="username" id="username-signup" class="signup-form-field" placeholder="username">
    <input type="text" name="email" id="email-signup" class="signup-form-field" placeholder="email">
    <input type="password" name="password" id="password-signup" class="signup-form-field" placeholder="password">
    <input type="submit" value="login" id="signup-form-submit">
</form>

<script src="/js/signup.js"