html {
  height: 100%;
}

body {
  background-color: #fffbdf;
  height: 100%;
}

nav {
  background-color: #34656d;
  color: #334443;
  margin-bottom: 30px;
}
nav a {
  border-radius: 7px;
  color: #fffbdf;
  margin-right: 20px;
}

nav a:hover {
  background-color: #c6ffc1;
}
