@charset "utf-8";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.css.map";

// @import "../sass/utilities/initial-variables";
// @import "../sass/utilities/functions";

$blue: #0277BD;
$blue-invert: #fff;
$green: #0F9D58;
$green-invert: #fff;
$red:#E04437;
$red-invert: #fff;
$indigo:#1A237E;
$indigo-invert: #fff;
$yellow:#F4B400 ;
$yellow-invert: #413F3E;

$info: $blue;
$info-invert: $blue-invert;
$link: $indigo;
$link-invert: $indigo-invert;
$success: $green;
$success-invert: $green-invert;
$warning: $yellow;
$warning-invert: $yellow-invert;
$danger: $red;

$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);